/*** Reset ***/

::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** Global Styles ***/

:root {
  /* Sizes */
  --sm: 2rem;
  --md: 3rem;
  --lg: 4rem;
}

/* General Styles */

.container {
  width: 80%;
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-start{
  align-items: flex-start;
}
.align-end{
  align-items: flex-end;
}
.align-center{
  align-items:center;
}
