<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="cards.css">
    <link rel="stylesheet" href="../common-styles/colors.css">
    <link rel="stylesheet" href="../common-styles/common.css">
    <link rel="stylesheet" href="../common-styles/fonts.css">
    <link rel="stylesheet" href="../Button/button.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <!-- Text only card -->

    <div class="container flex">
        <div class="card card-width">
            <div class="card-badge hidden">New</div>
            <img class="img img-border img-dimensions hidden" src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
            <div class="p-1">
                <h3>Text only card</h3>
                <p class="pt-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus dolorem suscipit eos quod magnam eligendi esse enim recusandae rerum rem laudantium distinctio aliquam molestiae consequatur minus repellendus molestias, adipisci quam!
                </p>
                <span class="material-icons span hidden">cancel</span>
            </div>

            <img class="hidden" src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
            <div class="hidden">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In tempore quos</p>
            </div>

            <div class="hidden">
                <button class="read btn btn-error">Read</button>
                <button class="bookmark btn btn-primary">Bookmark</button>
                <span class="material-icons">
                    favorite_border
                </span>
                <span class="material-icons ">
                    share
                </span>
                <span class="material-icons">
                    more_vert
                </span>
            </div>
        </div>
    </div>

    <!-- Card with Dismiss -->

    <div class="container flex">
        <div class="card card-width">
            <div class="card-badge hidden">New</div>
            <img class="hidden" src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
            <div class="p-1 flex space-between">
                <h3>Card with Dismiss</h3>
                <p class="hidden">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus dolorem suscipit eos quod magnam eligendi esse enim recusandae rerum rem laudantium distinctio aliquam molestiae consequatur minus repellendus molestias, adipisci quam!
                </p>
                <span class="material-icons">cancel</span>
            </div>

            <img class="img img-dimensions" src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
            <div class="p-1">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In tempore quos</p>
            </div>

            <div class="p-1 buttons flex space-between">
                <button class="read btn btn-error">Read</button>
                <button class="bookmark btn btn-primary">Bookmark</button>
                <span class="material-icons">
                    favorite_border
                </span>
                <span class="material-icons ">
                    share
                </span>
                <span class="material-icons">
                    more_vert
                </span>
            </div>
        </div>
    </div>

    <!-- Card with Badge -->

    <div class="container flex">
        <div class="card card-width">
            <div class="card-badge">New</div>
            <img class="img img-border img-dimensions" src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
            <div class="p-1">
                <h3>Card with card-badge</h3>
                <p class="pt-1">Visit ten places on our planet that are undergoing the biggest changes
                today.</p>
                <span class="material-icons span hidden">cancel</span>
            </div>

            <img class="hidden" src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
            <div class="p-1 hidden">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In tempore quos</p>
            </div>

            <div class="p-1 buttons flex flex-end">
                <button class="read btn btn-error hidden">Read</button>
                <button class="bookmark btn btn-primary hidden">Bookmark</button>
                <span class="material-icons">
                    favorite_border
                </span>
                <span class="material-icons ">
                    share
                </span>
                <span class="material-icons">
                    more_vert
                </span>
            </div>
        </div>
    </div>

    <!-- Card with text overlay -->

    <div class="container flex">
        <div class="card card-width">
            <div class="card-badge hidden">New</div>
            <img class="hidden" src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
            <div class="img-overlay">
                <img class="img img-dimensions" src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
                <div class="text-overlay">
                    <div class="p-1">
                        <h3>Card with text overlay</h3>
                        <p>by Rohit</p>
                        <span class="material-icons span hidden">cancel</span>
                    </div>
                </div>
            </div>

            <img class="hidden" src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
            <div class="px-1">
                <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sed! </p>
            </div>

            <div class="p-1 buttons flex space-between">
                <button class="read btn btn-error">Read</button>
                <button class="bookmark btn btn-primary">Bookmark</button>
                <span class="material-icons">
                    favorite_border
                </span>
                <span class="material-icons ">
                    share
                </span>
                <span class="material-icons">
                    more_vert
                </span>
            </div>
        </div>
    </div>

    <!-- Horizontal Card with shadow -->
    <div class="container flex">
            <div class="card horizontal-card">
              <div class="flex flex-start">
                <img class="img img-border horizontal-img align-self-stretch"
                  src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
                <div class="horizontal-card-text flex align-start flex-column p-1">
                    <h3>Horizontal Card</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
              </div>

              <img class="img-dimensions hidden"
                src="https://media.istockphoto.com/photos/across-the-universe-traveling-in-space-time-travel-scene-of-the-in-picture-id664390112?b=1&k=20&m=664390112&s=170667a&w=0&h=HsHhmJvOKWHhiJLBgqAA7VM_6PFLCirnRLUIUmIBci4=" />
              <div class="px-1">
                <p class="pt-1 hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sed! </p>
              </div>

              <div class="hidden">
                <button class="read btn btn-error">Read</button>
                <button class="bookmark btn btn-primary">Bookmark</button>
                <span class="material-icons">
                  favorite_border
                </span>
                <span class="material-icons ">
                  share
                </span>
                <span class="material-icons">
                  more_vert
                </span>
              </div>
            </div>
          </div>
</body>

</html>