<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Components/Lists/list.css" />
    <link rel="stylesheet" href="/index.css" />
    <title>Lists</title>
  </head>
  <body>
    <div class="container">
      <ul>
        <li class="list">
          <div class="container">
            <h3>Notification 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="list">
          <div class="container">
            <h3>Notification 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </li>
        <li class="list">
          <div class="container">
            <h3>Notification 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
