<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="rating.css">
    <link rel="stylesheet" href="/components.css">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Rating</title>
  </head>
  <body>
    <div class="container">
      <span class="material-icons rated">star</span>
      <span class="material-icons rated">star</span>
      <span class="material-icons rated">star</span>
      <span class="material-icons">star_border</span>
      <span class="material-icons">star_border</span>
    </div>
  </body>
</html>
