<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="badge.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>Badge</title>
  </head>
  <body>
    <!-- Badge on Avatar -->
    <div class="container flex">
      <div class="badge">
        <img
          src="https://images.unsplash.com/photo-1640984756059-7303641db7cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEyNXxDRHd1d1hKQWJFd3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
          alt="image"
          class="avatar"
        />
        <div class="status online"></div>
      </div>

      <div class="badge">
        <img
          src="https://images.unsplash.com/photo-1642254661563-63ed09988291?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEwN3xDRHd1d1hKQWJFd3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
          alt="image"
          class="avatar"
        />
        <div class="status busy"></div>
      </div>

      <div class="badge">
        <img
          src="https://images.unsplash.com/photo-1642240228932-bbd2885a1caf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExNXxDRHd1d1hKQWJFd3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
          alt="image"
          class="avatar"
        />
        <div class="status online"></div>
      </div>
    </div>

    <!-- Badge on Icon -->
    <div class="container flex">
      <div class="badge">
        <span class="material-icons-outlined icon"> shopping_cart </span>
        <div class="number status flex">5</div>
      </div>

      <div class="badge">
        <span class="material-icons-outlined icon">shopping_bag</span>
        <div class="number status flex">5</div>
      </div>

      <div class="badge">
        <span class="material-icons-outlined icon">credit_card</span>
        <div class="number status flex busy">5</div>
      </div>
        <div class="online"></div>
      </div>
    </div>
  </body>
</html>
