<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/TextUtilities/textutilities.css">
    <link rel="stylesheet" href="/index.css">
    <title>Text Utilities</title>
</head>
<body>
    <div class="container">
        <p class="small-text">Small Text</p>
        <p class="text-center">Center Text</p>
        <p class="grey-text">Grey Text</p>
    </div>
</body>
</html>