<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="alert.css" />
    <link rel="stylesheet" href="../common-styles/colors.css">
    <link rel="stylesheet" href="../common-styles/common.css">
    <link rel="stylesheet" href="../common-styles/fonts.css">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
    <title>Alert</title>
  </head>
  <body>
    <div class="container">
      <div class="alert info">
        <p>Info Alert ! Change a few things</p>
      </div>
      <div class="alert danger">
        <p>Danger Alert ! Change a few things</p>
      </div>
      <div class="alert success">
        <p>Success Alert ! Change a few things</p>
      </div>
      <div class="alert warning">
        <p>Warning Alert ! Change a few things</p>
      </div>
    </div>
    <div class="container">
      <div class="alert info flex flex-start">
        <span class="material-icons"> info </span>
        <p>Info Alert ! Change a few things</p>
      </div>
      <div class="alert danger flex flex-start">
        <span class="material-icons"> priority_high </span>
        <p>Danger Alert ! Change a few things</p>
      </div>
      <div class="alert success flex flex-start">
        <span class="material-icons"> check_circle </span>
        <p>Success Alert ! Change a few things</p>
      </div>
      <div class="alert warning flex flex-start">
        <span class="material-icons"> warning </span>
        <p>Warning Alert ! Change a few things</p>
      </div>
    </div>
  </body>
</html>
